<header id="header" style="width: 100%;">
    <nav class="nav" style="width: 100%;">
        <ul class="nav-list"
            style="list-style: none; display: flex; justify-content: space-around; align-items: center;">
            <li id="brand" class="nav-list-item">
                <a href="/" title="Lorem Ipsum Blog Home">
                    Lorem Ipsum Blog
                </a>
                <span id="tagline">Powered by Headless WordPress</span>
            </li>
            <li class="nav-list-item">
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li class="nav-list-item">
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>