<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title   %> </title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href=<%= stylesheet  %> />
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
    <%- include('./scripts.ejs') %>
</head>