<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', { title: 'About Lorem Ipsum Blog', stylesheet: '/styles/about.css' }) %>

<body>
    <%- include('./partials/header.ejs') %>
    <main style="height: 100%;">
        <h2>About the Lorem Ipsum Blog</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consequuntur incidunt vero modi
            velit placeat voluptate odit in quo voluptatum officiis illum nulla reiciendis, aspernatur ad enim, qui
            laboriosam alias obcaecati!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestias perspiciatis consequatur, eaque,
            repudiandae fugit optio voluptatem qui nam a accusantium dolore id dicta nulla quidem! Vero itaque modi
            distinctio dignissimos facere! Impedit debitis eaque sed provident optio, ipsa quas quibusdam quasi et
            praesentium minus deleniti, beatae sapiente unde alias!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, nulla sapiente!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias doloribus velit, aliquam similique
            voluptates quisquam rerum consequatur eveniet, impedit sit facere commodi, veniam qui expedita officiis
            excepturi. Ipsam quisquam ipsum sint perspiciatis magni dolor fugiat obcaecati odit porro nihil quaerat
            culpa quia accusantium aliquam harum sunt at repellat fuga qui est blanditiis numquam, molestias ea
            nostrum. Illum saepe excepturi ipsa!
        </p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>