<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', { title: 'Lorem Ipsum Blog', stylesheet: '/styles/home.css'}) %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>The Lorem Ipsum Blog</h1>
        <p>
            I needed a place to hold my lorem ipsums, so that I could conveniently access them whenever I need them. So,
            here they are.
        </p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>