<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', { title: 'Lorem Ipsum Blog', stylesheet: '/styles/home.css'}) %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>The Lorem Ipsum Blog</h1>
        <p>
            I needed a place to hold my lorem ipsums, so that I could conveniently access them whenever I need them. So,
            here they are.
        </p>
        <div style="max-width: 100%;">
            <img src="/media/images/miltiadis-fragkidis-IiGbnjiFMAI-unsplash.jpg" alt="Lorem ipspum"
                style="object-fit: cover;" width="100%" loading="lazy" />
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>